@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Roboto&family=Ubuntu&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Montserrat:wght@100;300;400;500;600;700;800;900&family=Roboto&family=Ubuntu&display=swap');


*{padding: 0;
margin: 0;


}
body{
    overflow-x: hidden;
    font-family: 'Bangers', cursive;    
}

::-webkit-scrollbar {
    display: none;}