
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Carter+One&family=Caveat:wght@700&family=Montserrat:wght@100;300;400;500;600;700;800;900&family=Open+Sans:wght@500&family=Quicksand&family=Roboto&family=Rubik+Marker+Hatch&family=Ubuntu&display=swap');

$heading:'Bangers', cursive; 
$para: 'Montserrat', sans-serif;
$yellow: #fff100;
$pink:#ed1e79;
$red:#d20120;
$white:#fff;
$brown:#6d3d0f;